body{
    margin: auto;
}


#header{
    height: 721px;
    border: 1px solid rgb(255, 252, 252);
    background: url('../img/forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#header h1{
    font-family: 'Lato', sans-serif;
    margin: 70px 170px;
}


.header-photo{
    height: 240px;
    width: 260px;
    border-radius: 100%;
    /* border: 1px solid red; */
    margin: 100px 0px 0px 630px;
    background: url('../img/foto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#header h2{
    font-size: 44px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#header h3{
    font-size: 25px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


#about{
    height: 450px;
    /* border: 1px solid black; */
}

.about-one{
    height: 430px;
    width: 480px;
    /* border: 1px solid black; */
    margin: 10px 0px;
    padding: 15px 15px;
}

.about-one h1{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    padding: 5px 10px;

}

.about-one h3{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    padding: 0px 8px;
}

.about-one h4{
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    padding: 0px 7px;
    color: rgb(70, 68, 68);
}


.about-button{
    height: 50px;
    width: 150px;
    margin: 0px 7px;
    background-color: black;
    border-radius: 5%;
    transition: all .5s ease;
    padding: 1px 10px;
}

.about-button h5{
    color: wheat;
    font-family: 'Lato', sans-serif;
    margin: 15px 10px;
}

.about-button:hover{
    width: 200px;
    background-color: green;
}


.about-two{
    height: 430px;
    width: 480px;
    /* border: 1px solid black; */
    margin: 10px 0px;
    padding: 25px 30px;
}

.abt-two-project{
    height: 80px;
    width: 160px;
    /* border: 1px solid black; */
    margin: 45px 25px;
}

.abt-two-project h1{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    margin: 7px 18px;
}

.abt-two-project h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: -5px 16px;
}

.abt-two-awards{
    height: 80px;
    width: 160px;
    /* border: 1px solid black; */
    margin: 0px 23px;
}

.abt-two-awards h1{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    margin: 7px 18px;
}

.abt-two-awards h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: -5px 16px;
}

.abt-two-client{
    height: 80px;
    width: 160px;
    /* border: 1px solid black; */
    margin: -140px 228px;
}

.abt-two-client h1{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    margin: 7px 18px;
}


.abt-two-client h2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: -5px 16px;
}



#skills{
    height: 450px;
    background-color: #f2f2f2;
}

#skills h1{
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 33px;
}


.skills-one{
    height: 300px;
    /* border: 1px solid black; */
    margin: 50px 0px 0px 0px;
}

.skills-one li{
    padding: 20px 30px;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.bar{
    background: rgb(204, 203, 203);
    height: 4px;
    display: block;
    width: 100%;   
}

.bar span{
    height: 4px;
    float: left;
    background: rgb(18, 141, 18);
}

.html{
    width: 76%;
    animation: html 2s;
}

.css{
    width: 88%;
    animation: css 2s;
}

@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 76%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 88%;
    }
}


.skills-two{
    height: 300px;
    /* border: 1px solid black; */
    margin: 50px 0px 0px 0px;
}

.skills-two li{
    padding: 20px 30px;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

.javascript{
    width: 25%;
    animation: javascript 2s;
}

.bootstrap{
    width: 36%;
    animation: bootstrap 2s;
}

@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 25%;
    }
}

@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 36%;
    }
}




#education{
    height: 470px;
}



.education-one{
    height: 350px;
    margin: 80px 0px 0px 0px;
    box-shadow: 0px 0px 10px rgb(19, 128, 19);
}

.education-one i{
    font-size: 33px;
    color: rgb(19, 128, 19);
    margin: 15px 0px 0px 140px;
}

.education-one h1{
    font-family: 'Lato', sans-serif;
    margin: 30px 0px 0px 50px;
}

.education-one h2{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: gray;
    margin: 25px 0px 0px 49px;
}

.education-one h3{
    font-family: 'Lato', sans-serif;
    color: rgb(19, 128, 19);
    font-size: 16px;
    margin: 30px 0px 0px 47px;
}


.education-two{
    height: 350px;
    margin: 80px 0px 0px 0px;
    box-shadow: 0px 0px 10px rgb(19, 128, 19);
}

.education-two i{
    font-size: 33px;
    color: rgb(19, 128, 19);
    margin: 15px 0px 0px 140px;
}

.education-two h1{
    font-family: 'Lato', sans-serif;
    margin: 30px 0px 0px 50px;
}

.education-two h2{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: gray;
    margin: 25px 0px 0px 49px;
}

.education-two h3{
    font-family: 'Lato', sans-serif;
    color: rgb(19, 128, 19);
    font-size: 16px;
    margin: 30px 0px 0px 47px
}



#project{
    height: 480px;
    background-color: #f2f2f2;
}

#project h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 27px;
    padding: 25px 0px;
}

.project-one{
    height: 300px;
    width: 1128px;
    box-shadow: 0px 0px 7px rgb(19, 128, 19);
    padding: 70px 45px;
}


.project-one-photo{
    height: 180px;
    width: 310px;
    box-shadow: 0px 0px 7px rgb(19, 128, 19);
    display: flex;
}

.project-one-photo img{
    height: 100%;
    width: 100%;
}

.project-one-photo h2{
    padding: 0px 180px;
    font-family: 'Lato', sans-serif;
    color: rgb(19, 128, 19);
}

.project-one-photo h3{
    font-family: 'Lato', sans-serif;
    color: rgb(19, 128, 19);
}



#hire{
    height: 350px;
    /* border: 1px solid black; */
    padding: 60px 0px;
}


.hire-one{
    height: 240px;
    width: 500px;
    margin: 25px 0px;
}

.hire-one h1{
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    margin: 25px 35px;
}    

.hire-one h3{
    font-family: 'Lato', sans-serif;
    margin: 4px 32px;
    color: gray;
    font-size: 18px;
}


.hire-two{
    height: 240px;
    width: 500px;
    margin: 25px 50px;
    padding: 25px 150px;
}

.hire-two p{
    color: #181a1b;
    font-size: 16px;
    height: 100px;
}


.hire-two a{
    background: #131313;
    color: #fff;
    border: none;
    font-size: 18px;
}


#contact{
    height: 500px;
    background-color: #f2f2f2;
    padding: 30px 0px 0px 0px;
}

#contact h1{
    font-size: 33px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.contact-mail{
    height: 200px;
    width: 230px;
    margin: 30px 95px;
    box-shadow: 0px 0px 14px black;
}

.contact-mail i{
    font-size: 33px;
    margin: 20px 95px;
}

.contact-mail h3{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 15px 4px;
} 

.contact-location{
    height: 200px;
    width: 230px;
    margin: 30px 66px;
    box-shadow: 0px 0px 14px black;
}

.contact-location i{
    font-size: 33px;
    margin: 20px 99px;
}

.contact-location h3{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
}

.contact-tel{
    height: 200px;
    width: 230px;
    margin: 30px 39px;
    box-shadow: 0px 0px 14px black;
}


.contact-tel i{
    font-size: 33px;
    margin: 20px 92px;
}

.contact-tel h3{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-align: center;
}